.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  color: white; }

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: min-content 1fr min-content; }

.content {
  grid-row: 2/3; }

.clock {
  font-size: 15rem;
  letter-spacing: -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.greeting {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s;
  width: 50%; }
  .greeting-text {
    font-size: 4rem;
    font-weight: 500;
    text-align: center; }

.todo {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%; }
  .todo-text {
    font-size: 3.5rem; }
  .todo-input {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem; }

.input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  height: 4rem;
  font-size: 3rem;
  width: 50rem;
  margin-top: 2rem;
  color: white;
  text-align: center;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s; }

.footer {
  grid-row: 3/-1;
  transition: all .5s; }

.quote {
  position: absolute;
  bottom: 2rem;
  transform: translateX(-50%);
  left: 50%; }
  .quote-text {
    font-size: 2rem;
    font-weight: 500; }

.header {
  grid-row: 1/2;
  transition: all 2s; }

.location {
  position: absolute;
  top: 2%;
  right: 2%; }
  .location-weather {
    text-align: end; }
    .location-weather .weather-icon {
      filter: brightness(0) invert(1);
      margin-right: .5rem; }
    .location-weather .temperature {
      font-size: 3rem; }
  .location-city {
    font-size: 1.5rem;
    text-align: end; }

.hidden {
  display: none; }
